html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

/* ============================================ *
* Typography
* ============================================ */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}
